<form [formGroup]="employeeForm" (ngSubmit)="onFormSubmit()" >
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input formControlName="fullName" type="text" class="form-control"  [class.is-invalid]="employeeForm.get('fullName')?.errors && (employeeForm.get('fullName')?.touched || employeeForm.get('fullName')?.dirty)" id="name" name="name">
        <span class="invalid-feedback" [hidden]="!(employeeForm.get('fullName')?.errors?.['required'] && (employeeForm.get('fullName')?.touched || employeeForm.get('fullName')?.dirty))" >Name is required!</span>
        <span class="invalid-feedback" [hidden]="!((employeeForm.get('fullName')?.errors?.['minlength'] || employeeForm.get('fullName')?.errors?.['maxlength']) && (employeeForm.get('fullName')?.touched || employeeForm.get('fullName')?.dirty))" >Full Name must be greater than 2 characters and less than 20 characters!</span>
    </div>    
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input formControlName="email" type="text" class="form-control" id="email" name="email">        
    </div>
    <div formGroupName="skills" >
        <div class="mb-3">
            <label for="skillName" class="form-label">Skill</label>
            <input formControlName="skillName" type="text" class="form-control" id="skillName" name="skillName">
        
        </div>    
        <div class="mb-3">
            <label for="experienceInYears" class="form-label">Years of Experience</label>
            <input formControlName="experienceInYears" type="number" class="form-control" id="experienceInYears" name="experienceInYears">        
        </div>
        <div class="mb-3">
            <label class="form-label">Proficiency</label>
            <div class="form-control">
                <div class="form-check form-check-inline">
                    <input formControlName="proficiency" class="form-check-input" type="radio" id="proficiencyBeginner" name="proficiency" value="beginner">
                    <label class="form-check-label" for="proficiencyBeginner">Beginner</label>
                </div>
                <div class="form-check form-check-inline">
                    <input formControlName="proficiency"  class="form-check-input" type="radio" id="proficiencyIntermediate" name="proficiency" value="intermediate" >
                    <label class="form-check-label" for="proficiencyIntermediate">Intermediate</label>
                </div>
                <div class="form-check form-check-inline">
                    <input formControlName="proficiency"  class="form-check-input" type="radio" id="proficiencyAdvanced" name="proficiency" value="advanced" >
                    <label class="form-check-label" for="proficiencyAdvanced">Advanced</label>
                </div>
            </div>            
        </div>

    </div>
    <div class="btn-toolbar">
        <button type="button" class="btn btn-primary me-2" (click)="onLoadDataClick()">Load Data</button>
        <button type="button" class="btn btn-primary me-2" (click)="onLogControlsClick()">Log Controls</button>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
      </div>
   
</form>
<br/>
<table border="1">
    <tr>
      <th style="padding: 10px">FormGroup</th>
      <th style="padding: 10px">FormControl (fullName)</th>
    </tr>
    <tr>
      <td style="padding: 10px">
        touched : {{ employeeForm.touched }}
        <br/> dirty : {{ employeeForm.dirty }}
        <br/> valid : {{ employeeForm.valid }}
        <br/> Form Values : {{employeeForm.value | json}}
      </td>
      <td style="padding: 10px">
        touched : {{ employeeForm.get('fullName')?.touched }}
        <br/> dirty : {{ employeeForm.get('fullName')?.dirty }}
        <br/> valid : {{ employeeForm.get('fullName')?.valid }}
        <br/> FullName Value : {{employeeForm.get('fullName')?.value}}
        <br/> Errors: {{employeeForm.get('fullName')?.errors}}
      </td>
    </tr>
  </table>
